<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache" />
<script src="/js/lib/ext-4.2.1.883/ext-all.js"></script>
<script src="/js/lib/ext-4.2.1.883/ext-theme-neptune.js"></script>
<link rel="stylesheet" href="/js/lib/ext-4.2.1.883/resources/css/ext-all-neptune.css" />
<link rel="stylesheet" href="/js/lib/ext-4.2.1.883/resources/ext-theme-neptune/ext-theme-neptune-all.css" />
</head>
<body>
	#include("vm/inc/extJs.vm")
	<script type="text/javascript">
		Ext.onReady(function() {
		

            var store = Ext.create('Ext.data.TreeStore', { 
                proxy: { 
                    type: 'ajax', 
                    url : '/data/index-data.vm', 
                    reader : { 
                    	type:'json' 
                    }
                }, 
               // folderSort: true,
            	autoLoad : true 
            }); 

            Ext.create('Ext.tree.Panel', {
                title: 'Simple Tree',
                store: store,
                rootVisible: false,					        
				collapsible: true, 
                renderTo: Ext.getBody(),
				listeners : {
					itemclick : function( obj, record, item, index, e, eOpts ){
						location.href=record.raw.data_url;
					}
				}
            });
		}); // end onReady
	</script>
</body>
</html>